@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}


header {
    background-color: #0b2436;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px ;
    
}
.logo {
    text-decoration: none;
    font-size: 2.1em;
    font-weight: 700;
    color: #fff;
    
}

button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 30px;
}
  
button:hover {
    background-color: #333;
}
ul {
    list-style-type: none;
    display: flex;
}
ul li a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    transition: all 0.4s ease;
    padding: 20px 0;
}
nav ul li a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    transition: all 0.4s ease;
    padding-left: 35px;
    font-size: 1.2em;
    color: #fff;
    font-weight: 500;
}
  
nav ul li a::after { 
    content: "";
    position: absolute;
    height: 2px;
    background-color: #f69ec4;
    width: 0%;
    left: 65%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}
  
nav ul li a:hover { color: #fff; }
nav ul li a:hover::after { width: 80%; }
.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(Web\ 1920\ –\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
}
h1 {
    font-size: 4em;
}
span {
    font-size: 30px;
    font-weight: 200;
}
.main-content {
    padding-left: 300px;
    margin-bottom: 100px;
}
h3 {
    font-family: sans-serif;
    font-size: 50px;
    font-weight: 300;
    letter-spacing: -1px;
}
p {
    font-size: 15px;
    font-weight: 200;
    padding-top: 10px;
}
.main-btn a {
    background-color: #0b2436;
    display: inline-block;
    text-decoration: none;
    margin-top: 20px;
    color: #fff;
    border: 5px solid #0b2436;
    font-weight: 600;
    transition: 1s ease;
    font-size: 1.1em;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 10px;
}
.main-btn a:hover {
    background-color: transparent;
    color: #0b2436;
}
.social-icons a i{
    font-size: 30px;
    padding-left: 18px;
    padding-top: 20px;
    cursor: pointer;
    text-transform: none;
    color: #0b2436;
    transition: 0.5s ease;

}
.social-icons a i:hover {
    color: #0077b5;
}
.card1 {
    width: 330px;
    height: 360px;
    transition: all 0.2s;
    position: relative;
    cursor: pointer;
    margin-left: 200px;
    display: inline-block;
    margin-bottom: 120px;
    
  }
  
  .card1-inner {
    width: inherit;
    height: inherit;
    background: rgba(255,255,255,.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    text-align: center;
    align-items: center;
  }
  
  .card1:hover {
    transform: scale(1.04) rotate(1deg);
  }
  
  .circle {
    width: 100px;
    height: 100px;
    background: radial-gradient(#0b2436, #0094fd);
    border-radius: 50%;
    position: absolute;
    animation: move-up6 2s ease-in infinite alternate-reverse;
  }
  
  .circle:nth-child(1) {
    top: -25px;
    left: -25px;
  }
  
  .circle:nth-child(2) {
    bottom: -25px;
    right: -25px;
    animation-name: move-down1;
  }
  
  @keyframes move-up6 {
    to {
      transform: translateY(-10px);
    }
  }
  
  @keyframes move-down1 {
    to {
      transform: translateY(10px);
    }
  }
.Services-text{
    padding-left: 730px;
    font-size: 60px;
    padding-bottom: 120px;
    font-weight: 600;
    padding-top: 30px;
}
  .title{
    font-size: 25px;
    color: #0b2436;
    font-weight: 600;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 10px;
  }
  .text{
    padding-top: 30px;
  }
  @media (max-width: 768px) {
  .main {
    min-height: 600px;
    background-size: 100% auto;
  }
  .main-content {
    padding-left: 0px;
  }
  .social-icons {
    display: none;
  }
  .card {
    margin-left: 0px;
  }
}
.wrapper{
  width: 40%;
  min-width: 590px;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;

}
.container1{

  width: 100%;
  padding: 30px 30px 50px;
  background-color: white;
  border: 2px solid rgba(255,255,255,0.06);
  border-radius: 10px;

} 
.container1 *{
  font-family: "Poppins",sans-serif;
  color: black;
  font-weight: 500;
}
h2{
  margin-bottom: 50px;
  letter-spacing: 2px;
  text-align: center;
  font-size: 33px;
  font-weight: bold;
}
.skills:not(:last-child){
  margin-bottom: 30px;
}
.details{
  width: 100%;
  display: flex;  
  justify-content: space-between;
  margin-bottom: 10px;
}
.bar{


  border: 2px solid #0d96e0;

  border-radius: 20px;

}
.bar div{
  position: relative;
  width: 0;
  height: 9px;
  border-radius: 10px;
  background-color: #0d96e0;
 

}
#html-bar{
  animation: html-fill 2s forwards;
}
@keyframes html-fill{
  100%{
      width: 90%;
  }
}
#css-bar{
  animation: css-fill 2s forwards;
}
@keyframes css-fill{
  100%{
      width: 75%;
  }
}
#js-bar{
  animation: js-fill 2s forwards;
}
#py-bar{
  animation: js-fill 2s forwards;
}
@keyframes js-fill {
  100%{
      width: 72%;
  }
}

#py-bar{
  animation: py-fill 2s forwards;
}
#ph-bar{
  animation: ph-fill 2s forwards;
}
#il-bar{
  animation: il-fill 2s forwards;
}
#xd-bar{
  animation: xd-fill 2s forwards;
}

@keyframes py-fill{
  100%{
      width: 50%;
  }
} 
@keyframes xd-fill {
  100%{
      width: 70%;
  }
}
@keyframes ph-fill {
  100%{
      width: 60%;
  }
}
@keyframes il-fill {
  100%{
      width: 55%;
  }
}

.skill-title {
  text-align: center;
  font-size: 60px;
  font-weight: 600;
  text-transform: uppercase;
  padding-top: 140px;
  padding-bottom: 500px;
}
/* From uiverse.io by @satyamchaudharydev */
/* removing default style of button */

.form button {
  border: none;
  background: none;
  color: #8b8ba7;
}
/* styling of whole input container */
.form {
  --timing: 0.3s;
  --width-of-input: 200px;
  --height-of-input: 40px;
  --border-height: 2px;
  --input-bg: #fff;
  --border-color: #2f2ee9;
  --border-radius: 30px;
  --after-border-radius: 1px;
  position: relative;
  width: 35%;
  height: var(--height-of-input);
  display: flex;
  align-items: center;
  padding-inline: 0.8em;
  border-radius: var(--border-radius);
  transition: border-radius 0.5s ease;
  background: var(--input-bg,#fff);
}
/* styling of Input */
.input {
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
}
/* styling of animated border */
.form:before {
  content: "";
  position: absolute;
  background: var(--border-color);
  transform: scaleX(0);
  transform-origin: center;
  width: 100%;
  height: var(--border-height);
  left: 0;
  bottom: 0;
  border-radius: 1px;
  transition: transform var(--timing) ease;
}
/* Hover on Input */
.form:focus-within {
  border-radius: var(--after-border-radius);
}

input:focus {
  outline: none;
}
/* here is code of animated border */
.form:focus-within:before {
  transform: scale(1);
}
/* styling of close button */
/* == you can click the close button to remove text == */
.reset {
  border: none;
  background: none;
  opacity: 0;
  visibility: hidden;
}
/* close button shown when typing */
input:not(:placeholder-shown) ~ .reset {
  opacity: 1;
  visibility: visible;
}
/* sizing svg icons */
.form svg {
  width: 17px;
  margin-top: 3px;
}
.cube-loader {
  position: relative;
/* u can choose any size */
  width: 75px;
  height: 75px;
  transform-style: preserve-3d;
  transform: rotateX(-30deg);
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotateX(-30deg) rotateY(0);
  }

  100% {
    transform: rotateX(-30deg) rotateY(360deg);
  }
}

.cube-loader .cube-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  /* top: 0;
  left: 0; */
  transform-style: preserve-3d;
}

.cube-loader .cube-wrapper .cube-span {
  position: absolute;
  width: 100%;
  height: 100%;
  /* top: 0;
  left: 0; */
                                     /* width 75px / 2 = 37.5px */
  transform: rotateY(calc(90deg * var(--i))) translateZ(37.5px);
  background: linear-gradient(
    to bottom,
    hsl(330, 3.13%, 25.1%) 0%,
    hsl(177.27, 21.71%, 32.06%) 5.5%,
    hsl(176.67, 34.1%, 36.88%) 12.1%,
    hsl(176.61, 42.28%, 40.7%) 19.6%,
    hsl(176.63, 48.32%, 43.88%) 27.9%,
    hsl(176.66, 53.07%, 46.58%) 36.6%,
    hsl(176.7, 56.94%, 48.91%) 45.6%,
    hsl(176.74, 62.39%, 50.91%) 54.6%,
    hsl(176.77, 69.86%, 52.62%) 63.4%,
    hsl(176.8, 76.78%, 54.08%) 71.7%,
    hsl(176.83, 83.02%, 55.29%) 79.4%,
    hsl(176.85, 88.44%, 56.28%) 86.2%,
    hsl(176.86, 92.9%, 57.04%) 91.9%,
    hsl(176.88, 96.24%, 57.59%) 96.3%,
    hsl(176.88, 98.34%, 57.93%) 99%,
    hsl(176.89, 99.07%, 58.04%) 100%
  );
}

.cube-top {
  position: absolute;
  width: 75px;
  height: 75px;
  background: hsl(330, 3.13%, 25.1%) 0%;
                      /* width 75px / 2 = 37.5px */
  transform: rotateX(90deg) translateZ(37.5px);
  transform-style: preserve-3d;
}

.cube-top::before {
  content: '';
  position: absolute;
/* u can choose any size */
  width: 75px;
  height: 75px;
  background: hsl(176.61, 42.28%, 40.7%) 19.6%;
  transform: translateZ(-90px);
  filter: blur(10px);
  box-shadow: 0 0 10px #323232,
              0 0 20px hsl(176.61, 42.28%, 40.7%) 19.6%,
              0 0 30px #323232,
              0 0 40px hsl(176.61, 42.28%, 40.7%) 19.6%;
}
.dad {
  margin-left: 300px;
}
.dad2{
  background-color: #212121;
}
.wrapper{
  padding-bottom: 100px;
}
.absolute {
  position: absolute;
}

.inline-block {
  display: inline-block;
}
.loader {
  display: flex;
  text-align: center;
  margin: 0.25em 0em;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-left: 1700px;
}
.loader2{
  margin-left: 1750px;
  margin-top: 0;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  color: #0b2436;
}

.w-2 {
  width: 0.5em;
}

.dash {
  animation: dashArray 2s ease-in-out infinite,
    dashOffset 2s linear infinite;
}

.spin {
  animation: spinDashArray 2s ease-in-out infinite,
    spin 8s ease-in-out infinite,
    dashOffset 2s linear infinite;
  transform-origin: center;
}

@keyframes dashArray {
  0% {
    stroke-dasharray: 0 1 359 0;
  }

  50% {
    stroke-dasharray: 0 359 1 0;
  }

  100% {
    stroke-dasharray: 359 1 0 0;
  }
}

@keyframes spinDashArray {
  0% {
    stroke-dasharray: 270 90;
  }

  50% {
    stroke-dasharray: 0 360;
  }

  100% {
    stroke-dasharray: 270 90;
  }
}

@keyframes dashOffset {
  0% {
    stroke-dashoffset: 365;
  }

  100% {
    stroke-dashoffset: 5;
  }
}

@keyframes spin {
  0% {
    rotate: 0deg;
  }

  12.5%,
  25% {
    rotate: 270deg;
  }

  37.5%,
  50% {
    rotate: 540deg;
  }

  62.5%,
  75% {
    rotate: 810deg;
  }

  87.5%,
  100% {
    rotate: 1080deg;
  }
}
.Projects-title {
  padding-bottom: 150px;
  text-align: center;
  font-size: 60px;
  font-weight: 600;
  text-transform: uppercase;
  padding-top: 400px;
}
article {
  --img-scale: 1.001;
  --title-color: black;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  position: relative;
  border-radius: 16px;
  box-shadow: none;
  background: #fff;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

article a::after {
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  cursor: pointer;
  content: "";
}

/* basic article elements styling */
article h2 {
  margin: 0 0 18px 0;
  font-family: "Bebas Neue", cursive;
  font-size: 1.9rem;
  letter-spacing: 0.06em;
  color: var(--title-color);
  transition: color 0.3s ease-out;
}

figure {
  margin: 0;
  padding: 0;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

article img {
  max-width: 100%;
  transform-origin: center;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
}

.article-body {
  padding: 24px;
}

article a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #28666e;
}

article a:focus {
  outline: 1px dotted #28666e;
}

article a .icon {
  min-width: 24px;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  transform: translateX(var(--link-icon-translate));
  opacity: var(--link-icon-opacity);
  transition: all 0.3s;
}

/* using the has() relational pseudo selector to update our custom properties */
article:has(:hover, :focus) {
  --img-scale: 1.1;
  --title-color: #28666e;
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}


/************************ 
Generic layout (demo looks)
**************************/

*,
*::before,
*::after {
  box-sizing: border-box;
}


.articles {
  display: grid;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 24px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 24px;
}

@media screen and (max-width: 960px) {
  article {
    container: card/inline-size;
  }
  .article-body p {
    display: none;
  }
}

@container card (min-width: 380px) {
  .article-wrapper {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 16px;
  }
  .article-body {
    padding-left: 0;
  }
  figure {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  figure img {
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

.read {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
}
button {

  --secondary-color: #fff;
  --hover-color: #111;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
}

button .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

button .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

button .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

button:hover {
  background-color: var(--hover-color);
}

button:hover .arrow {
  background: var(--secondary-color);
}

button:hover .arrow:before {
  right: 0;
}
.Read-More {
  margin-top: 10px;
  padding: 15px 25px;
}
.Offer-title {
  font-size: 70px;
  padding-top: 200px;
  padding-left: 725px;
  font-weight: 600;
  letter-spacing: 5px;
}
.card-offers {
  display: inline-block;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 260px;
  padding: 20px 1px;
  margin: 10px 0;
  text-align: center;
  position: relative;
  cursor: pointer;
  box-shadow: 0 10px 15px -3px rgba(33,150,243,.4),0 4px 6px -4px rgba(33,150,243,.4);
  border-radius: 10px;
  background-color: #0b2436;
  background: linear-gradient(45deg, #0b2436 0%, #2b566e 100%);
  margin-left: 250px;
  margin-top: 230px;
}
.card-offers1 {
  display: inline-block;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 260px;
  padding: 20px 1px;
  margin: 10px 0;
  text-align: center;
  position: relative;
  cursor: pointer;
  box-shadow: 0 10px 15px -3px rgba(33,150,243,.4),0 4px 6px -4px rgba(33,150,243,.4);
  border-radius: 10px;
  background-color: #6B6ECC;
  background: linear-gradient(45deg, #04051dea 0%, #2b566e 100%);
  margin-left: 250px;
  margin-top: 230px;
}

.content-offers {
  padding: 20px;
}
.content-offers1 {
  padding: 20px;
}

.content-offers .price {
  color: white;
  font-weight: 800;
  font-size: 50px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.42);
}
.content-offers1 .price {
  color: white;
  font-weight: 800;
  font-size: 50px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.42);
}

.content-offers .description {
  color: rgba(255, 255, 255, 0.6);
  margin-top: 10px;
  font-size: 14px;
}
.content-offers1 .description {
  color: rgba(255, 255, 255, 0.6);
  margin-top: 10px;
  font-size: 14px;
}


.content-offers .title-Offers {
  font-weight: 800;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.64);
  margin-top: 10px;
  font-size: 25px;
  letter-spacing: 1px;
}
.content-offers1 .title-Offers1 {
  font-weight: 800;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.64);
  margin-top: 10px;
  font-size: 25px;
  letter-spacing: 1px;
}

.Buy_Now {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: none;
  outline: none;
  color: rgb(255 255 255);
  text-transform: uppercase;
  font-weight: 700;
  font-size: .75rem;
  padding: 0.75rem 5rem;
  background-color: rgb(33 150 243);
  border-radius: 0.5rem;
  width: 90%;
  text-shadow: 0px 4px 18px #2c3442;
  margin-left: 15px;
}
.Buy_Nowa {
  text-decoration: none;
  color: #fff;
}


.call-title {
  font-size: 60px;
  color: #0b2436;
  font-weight: 500;
  text-align: center;
  padding-top: 100px;
}
.container{
	width: 100%;
	min-height: 100vh;
  display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 8%;
}
.container .row{
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 1100px;
}
.row section.col{
	display: flex;
	flex-direction: column;
}
.row section.left{
	flex-basis: 35%;
	min-width: 320px;
	margin-right: 60px;
}
.row section.right{
	flex-basis: 60%;
}
section.left .contactTitle h2{
	position: relative;
	font-size: 28px;
	color: #0b2436;
	display: inline-block;
	margin-bottom: 25px;
}
section.left .contactTitle h2::before{
	content: '';
	position: absolute;
	width: 50%;
	height: 1px;
	background-color: #888;
	top: 120%;
	left: 0;
}
section.left .contactTitle h2::after{
	content: '';
	position: absolute;
	width: 25%;
	height: 3px;
	background-color: #0b2436;
	top: calc(120% - 1px);
	left: 0;
}
section.left .contactTitle p{
	font-size: 15px;
	color: #0b2436;
	letter-spacing: 1px;
	line-height: 1.2;
	padding-bottom: 22px;
}
section.left .contactInfo{
	margin-bottom: 16px;
}
.contactInfo .iconGroup{
	display: flex;
	align-items: center;
	margin: 25px 0px;
}
.iconGroup .icon{
	width: 45px;
	height: 45px;
	border: 2px solid #0b2436;
	border-radius: 50%;
	margin-right: 20px;
	position: relative;
}
.iconGroup .icon i{
	font-size: 20px;
	color: #0b2436;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.iconGroup .details span{
	display: block;
	color: #0b2436;
	font-size: 18px;
}
.iconGroup .details span:nth-child(1){
	text-transform: uppercase;
	color: #0b2436;
}
section.left .socialMedia{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	margin: 30px 0px;
}
.socialMedia a{
	width: 35px;
	height: 35px;
	text-decoration: none;
	text-align: center;
	margin-right: 15px;
	border-radius: 5px;
	background-color: #0b2436;
	transition: 0.4s;
}
.socialMedia a i{
	color: #fff;
	font-size: 18px;
	line-height: 35px;
	border: 1px solid transparent;
	transition-delay: 0.4s;
}
.socialMedia a:hover{
	transform: translateY(-5px);
	background-color: #2e2e2e;
	border: 1px solid #0b2436;
}
.row section.right .messageForm{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 30px;
}
.row section.right .inputGroup{
	margin: 18px 0px;
	position: relative;
}
.messageForm .halfWidth{
	flex-basis: 48%;
}
.messageForm .fullWidth{
	flex-basis: 100%;
}
.messageForm input, .messageForm textarea{
	width: 100%;
	font-size: 18px;
	padding: 2px 0px;
	background-color: #0b2436;
	color: #fff;
	border: none;
	border-bottom: 2px solid #fff;
	outline: none;
}
.messageForm textarea{
	resize: none;
	height: 220px;
	display: block;
}
textarea::-webkit-scrollbar{
	width: 5px;
}
textarea::-webkit-scrollbar-track{
	background-color: #0b2436;
	border-radius: 15px;
}
textarea::-webkit-scrollbar-thumb{
	background-color: #0b2436;
	border-radius: 15px;
}
.inputGroup label{
	position: absolute;
	left: 0;
	bottom: 4px;
	color: #ffffffcc;
	font-size: 18px;
	transition: 0.4s;
	pointer-events: none;
}
.inputGroup:nth-child(4) label{
	top: 2px;
}
.inputGroup input:focus ~ label, .inputGroup textarea:focus ~ label,
.inputGroup input:valid ~ label, .inputGroup textarea:valid ~ label
{
	transform: translateY(-30px);
	font-size: 16px;
  color: #0b2436;
}

.form-control {
  border-radius: 7px;
}
.input-text {
  padding-left: 10px;
}
@media(max-width: 1100px){
	.messageForm .halfWidth{
		flex-basis: 100%;
	}
}
@media(max-width: 900px){
	.container .row{
		flex-wrap: wrap;
	}
	.row section.left, .row section.right{
		flex-basis: 100%;
		margin: 0px;
	}
}

button {
  font-family: inherit;
  font-size: 5px;
  background: #0b2436;
  color: white;
  padding: 7px 13px;
  border: none;
  border-radius: 19px;
  transition: all 0.3s;
}

button:hover {
  transform: translateY(-3px);
  background-color: #0b2436;
}

button:active {
  transform: scale(0.95);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

button span {
  display: block;
  margin-left: 0.4em;
  transition: all 0.3s;
}

button svg {
  width: 18px;
  height: 18px;
  fill: white;
  transition: all 0.3s;
}

button .svg-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  margin-right: 0.5em;
  transition: all 0.3s;
  color: #fff;
  transition: all 0.3s;
}


button:hover svg {
  transform: rotate(45deg);
}
.Send1 {
  color: #fff;
  font-size: 25px;
  font-weight: 400;
}
.Footer {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  justify-content: center;
  background-color: #0b2436;
  padding-left: 30px;
  margin-top: 20px;
}
.copy-write {
  text-decoration: none;
  color: #0077b5;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  background-color: #0b2436;
}
.footer {
  background-color: #0b2436;
  color: #fff;
  padding: 1.6em;
  display: flex;
  justify-content: space-between;
}

.footer-title {
  font-size: 1.3em;
  font-weight: 600;
}

.footer-title span {
  color: #2787f5;
  font-size: 20px;
  font-weight: 700;
}

.footer .social-icons a{
  font-size: 1.3em;
  padding: 0 30px 0 0;
}
.footer .social-icons1 a{
  font-size: 1.7em;
  padding: 0 40px 0 0;
  color: #fff;
}
@media (max-width: 768px) {
  header{

    justify-content: center;
    height: 50px;
    font-size: 5px;
  }
  .main-content{
    margin: 100px auto;
  }
  .Services{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 40px;
  }
  .Services > *{
    padding: 0;
    margin: 0;
  }
  .My-Skills{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 100px auto;
    gap: 40px;
  }
  .My-Skills > *{
    margin: 0;
    padding: 0;
  }
  .My-Skills .wrapper{
  position: relative;
  transform: translate(0);
  left: 0;
  }
  .Offer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
  }
  .Offer > *{
    margin: 0;
    padding: 0;
  }
}
@media (max-width: 800px) {
  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }

  .toggle-button {
      display: flex;
  }

  .navbar-links {
      display: none;
      width: 100%;
  }

  .navbar-links ul {
      width: 100%;
      flex-direction: column;
  }

  .navbar-links ul li {
      text-align: center;
  }

  .navbar-links ul li a {
      padding: .5rem 1rem;
  }

  .navbar-links.active {
      display: flex;
  }
}
b{
  font-size: 20px;
  font-weight: 500;
}

nav{
  
  height: 80px;
  width: 100%;
}

nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,a:hover{
  
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 1231px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 1231px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    
  }
  #check:checked ~ ul{
    left: 0;
  }
}
